/** LOGO **/

.logo {
  padding: 1rem;
}

.logo-light {
  color: #fff;
}

.logo h1 {
  font-family: 'SweetSansPro-Heavy';
  font-size: 1.2em;
  letter-spacing: 0.4rem;
  line-height: 1;
}

.logo h2 {
  font-family: 'SweetSansPro-Regular';
  font-size: 0.5em;
  letter-spacing: 0.18rem;
  line-height: 1;
}
